<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LA Weekly News Scraper</title>

    <link rel="stylesheet" href="/assets/css/reset.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/styles.css">

</head>

<body>

    
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link" href="https://www.laweekly.com/">LA Weekly News Scraper</a>
        </li>
    </ul>

  
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          
        </div>
    </div>

    {{{body}}}

</body>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/assets/javascript/app.js"></script>

</html>